<html lang="en">

<head>
    <%- include('../utils/head.ejs') %>
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/roleprofile/roleprofile.css">
</head>

<body>
    <%- include('../navbar.ejs') %>
        <div class="bg">
            <div class="container">
                <div class="wrapper">
                    <div class="role-profile-frame">
                        <div class="frame-row-big">
                            <div class="portre-frame">
                                <div class="portre">
                                    <img width="65%" src=<%= avatar.img %>  alt="avatar">
                                </div>
                                <div class="portre-label">
                                    <p><%= avatar.label %></p> 
                                </div>
                            </div>
                            <div class="character-story">
                                <div class="character-story-child">
                                    <%- include('./questionArea.ejs', { sorular: sorular[5] })  %> 
                                </div>
                            </div>
                        </div>
                        <div class="frame-row-small">
                            <div class="task-area"></div>
                            <div class="button-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>